.movie-container {
    width: 100%;
    height: 87.9vh;
    overflow: hidden;
    position: relative;
    background-color: rgb(23, 23, 128);
}

.movie-container .backImgae .cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(10.5, 31.5, 31.5, 1) calc((50vw - 170px) - 340px), rgba(10.5, 31.5, 31.5, 0.84) 50%, rgba(10.5, 31.5, 31.5, 0.84) 100%);
}

.movie-container .backImgae .cover .left {
    width: 30%;
    height: 100%;
    padding: 25px 20px;
}
.movie-container .backImgae .cover .left .img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 10px;
    border-radius: 7px;
}
.movie-container .backImgae .cover .left .img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 7px !important;
}
.movie-container .backImgae .cover .right{
    width: 70%;
    height: 100%;
}
.movie-container .backImgae .cover .right .blank{
    width: 100%;
    height: 20vh;
}
.movie-container .backImgae .cover .right h1{
    color: aliceblue;
}
.movie-container .backImgae .cover .right p{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.movie-container .backImgae .cover .right p .na{
    padding: 3px 5px;
    border: 1px solid #ffffff;
    color: aliceblue;
    border-radius: 5px;
    opacity: .6;
}
.movie-container .backImgae .cover .right .title{
    margin-top: 10px;
    font-size: 20px;
}
.movie-container .backImgae .cover .right .over{
    color: #ffffff;
    width: 80%;
    text-align: justify;
    margin-top: 10px;
}