.popular-movies{
    width: 100%;
    height: 88vh;
    background-color: white;
    overflow-y: auto;
}
.popular-movies .overlay
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 30px;
}
.popular-movies .overlay .title{
    width: 100%;
    color: rgb(61, 57, 57);
    font-size: 22px;
    font-weight: 700;
    font-family:sans-serif;
}
.popular-movies .overlay .movies{
    width: 100%;
    height: auto;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.popular-movies .overlay .movies .movie{
    width: auto;
    max-width: 20vw;
    height: auto;
    background-color: whitesmoke;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 1px 3px 10px black;
}
.popular-movies .overlay .movies .movie a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: transparent;
}
.popular-movies .overlay .movies .movie a img{
    width: 100%;
    height: 80%;
    object-fit: contain;
}
.popular-movies .overlay .movies .movie a .body{
    width: 100%;
    height: 20%;
    background-color: aliceblue;
    color: black;
    padding: 10px 10px;
}
.popular-movies .overlay .movies .movie a .body .name{
    font-weight: 700;
}
.popular-movies .overlay .load-more{
    width: 100%;
    height: 8vh;
    padding: 10px 30px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.popular-movies .overlay .load-more .button{
    color: aliceblue;
    font-weight: 500;
    background-color: black;
    border: none;
    outline: none;
    padding: 10px 10px;
    border-radius: 7px;
    cursor: pointer;
}

.movie-m-box{
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.movie-m-box .overlay{
    background-image: linear-gradient(to right, rgba(136.5, 115.5, 115.5, 1) calc((50vw - 170px) - 340px), rgba(136.5, 115.5, 115.5, 0.84) 50%, rgba(136.5, 115.5, 115.5, 0.84) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.movie-m-box .overlay .left{
    width: 35%;
    height: 100%;
    padding: 20px 10px;
}
.movie-m-box .overlay .left img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.movie-m-box .overlay .right{
    width: 65%;
    height: 100%;
}
.movie-m-box .overlay .right .blank{
    width: 100%;
    height: 20vh;
}
.movie-m-box .overlay .right .movie-title{
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    color: aliceblue;
}
.movie-m-box .overlay .right .mv{
    color: aliceblue;
    width: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    
}
.movie-m-box .overlay .right .mv .na{
    padding: 3px 5px;
    border: 1px solid #ffffff;
    color: aliceblue;
    border-radius: 5px;
    opacity: .6;
}
.movie-m-box .overlay .right .title{
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
}
.movie-m-box .overlay .right .desc{
    color: #ffffff;
    text-align: justify;
    width: 80%;
}